.navbar{
    position: fixed;
    background-color: aqua;
    width: 100%;
    height: 70px;
    box-shadow: 0 1px 25px aqua;
    z-index: 2;
}
#nav {
    position: relative;
    list-style: none;
    text-align: center;
    word-spacing: 25px;
    top: 20px;

}
#nav li{
    display: inline;
    font-size: 20px;
}
#nav li:hover{
    font-size: 25px;
}
#nav a{
    text-decoration: none;
    color: black;
}
.position{
    color: black;
}
#bouton-nav{
    display: none;
}

@media (max-width: 700px){
    #nav li{
        display: none;
    } 
    #bouton-nav{
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: aliceblue;
    color: orangered;
    box-shadow: 2px 2px 15px black;
    }
    
    #nav {
        text-align: right;
        display: block;
        position: absolute;
        right: 45px;
        top: 38px;
        width: 250px;
        height: 200px;
        border: solid 1px rgba(255,255,255,0.4);
        background-color: rgba(255,255,255,0.4);
        z-index: 2;
    }
    #nav li{
        display: block;
        font-size: 15px;
    }
    #nav li:hover{
        font-size: 20px;
    }
    #nav a{
        color: black;
    }
}
@media (max-width: 300px){
    #nav{
        width: 90%;
    }
}
.activ{
    height: 48px;
    border-bottom: solid 10px white;
    box-shadow: 9px 9px 15px rgb(255, 255, 254);
    border-radius: 10px;
}

body{
    background-color: black;
}

.footer{
    position: fixed;
    background-color: rgb(40, 41, 41);
    width: 100%;
    height: 70px;
    bottom: 0;
    box-shadow: 0 1px 45px rgb(40, 41, 41);
    color: aliceblue;
    text-align: center;
}

/*------------------------------------------------------------------------------*/

.bouton1{
    border: 1px solid rgb(25, 64, 122);
    background-color: rgb(25, 64, 122) ;
    color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 15px white;

}
.bouton1:hover{
    border: 1px solid white;
    background-color: white ;
    color: rgb(25, 64, 122);
    border-radius: 10px;
    box-shadow: 1px 1px 15px rgb(25, 64, 122);
}
.bouton2{
    border: 1px solid rgb(25, 64, 122);
    background-color: rgb(25, 64, 122) ;
    color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 15px white;
}
.bouton2:hover{
    border: 1px solid white;
    background-color: white ;
    color: rgb(25, 64, 122);
    border-radius: 10px;
    box-shadow: 1px 1px 15px rgb(25, 64, 122);
}

.texte{
    display: inline;
    position: absolute;
    color: white;
    top: 20%;
    right: 10%;
    left: 10%;
    text-align: center;
    font-size: 23px;
}
#en{
    display: none;
}

.images{
    text-align: center;
}
.images img{
    width: 35%;
    height: 30%;
    margin: 20px;
    padding: 20px;
    position: relative;
    top: 500px;
    border-radius: 15px;
    box-shadow: 1px 1px 12px rgba(79, 79, 228, 0.788);
    z-index: -1;
}
.image{
    text-align: center;
    margin-bottom: 50%;
}
.botom{
    display: none;
    width: 700px;
    height: 300px;
    border: solid ;
}
#log{
    width: 35%;
    height: 15%;
    margin: 20px;
    padding: 20px;
    position: relative;
    top: 500px;
    border-radius: 15px;
    box-shadow: 1px 1px 12px rgba(79, 79, 228, 0.788);
    z-index: -1;

}
@media(max-width: 1400px){
    .images img{
        width: 70%;
        height: 30%;
        margin: 10px;
        padding: 15px;
    }
    .texte{
        font-size: 16px;
    }
    #log{
        width: 70%;
        height: 25%;
        margin: 10px;
        padding: 15px;
    }
    .image{
        margin-bottom: 50%;
    }
}
@media(max-height: 700px) {
    .footer{
        display: none;
     }
    }
@media (max-width: 1200px) {
    .footer{
       display: none;
    }
}
