.navbar{
    position: fixed;
    background-color: aqua;
    width: 100%;
    height: 70px;
    box-shadow: 0 1px 25px aqua;
    z-index: 2;
}
#nav {
    position: relative;
    list-style: none;
    text-align: center;
    word-spacing: 25px;
    top: 25%;

}
#nav li{
    display: inline;
    font-size: 20px;
}
#nav li:hover{
    font-size: 25px;
}
#nav a{
    text-decoration: none;
    color: black;
}
.position{
    color: black;
}
#bouton-nav{
    display: none;
}
.marquee{
    display: none;
}
@media (max-width: 700px){
    #nav li{
        display: none;
    } 
    .marquee{
        display: block;
        position: absolute;
        right: 30px;
        top: 10px;
        width: 130px;
    }
    #bouton-nav{
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: aliceblue;
    color: orangered;
    box-shadow: 2px 2px 15px black;
    }
    
    #nav {
        text-align: right;
        display: block;
        position: absolute;
        right: 45px;
        top: 38px;
        width: 250px;
        height: 200px;
        border: solid 1px rgba(255,255,255,0.4);
        background-color: rgba(255,255,255,0.4);
        z-index: 2;
    }
    #nav li{
        display: block;
        font-size: 15px;
    }
    #nav li:hover{
        font-size: 20px;
    }
    #nav a{
        color: black;
    }
}
@media (max-width: 300px){
    #nav{
        width: 90%;
    }
}
.activ{
    height: 48px;
    border-bottom: solid 10px white;
    box-shadow: 9px 9px 15px rgb(255, 255, 254);
    border-radius: 10px;
}

body{
    background-color: black;
}

.footer{
    position: fixed;
    background-color: rgb(40, 41, 41);
    width: 100%;
    height: 70px;
    bottom: 0;
    box-shadow: 0 1px 45px rgb(40, 41, 41);
    color: aliceblue;
    text-align: center;
    
}
/*----------------------------------------------------------------------*/

.service{
    color: white;
    text-align: center;
    position: relative;
    top: 100px;
}
.services{
    position: relative;
    top: 100px;
    left: 24%;
    text-align: center;
    width: 50%;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
    height: 200px;
    color: black;
    border: solid 1px rgb(17, 66, 230);
    background-color: rgba(255, 255, 255,0.8);
    margin: 20px;
    border-radius: 15px;
}
.services h2{
    color: blue;
}
.services h2:hover{
    color: rgb(255, 255, 255);
}
.services:hover{
    color: white;
    border: solid 1px rgb(248, 248, 250);
    background-color: rgba(21, 79, 202,0.4);
    box-shadow: 1px 1px 15px white;
}
@media(max-width: 1300px){
    .services{
        width: 70%;
        left: 10%;
        font-size: 90%;
        height: 100%;
    }
    .services h2{
        font-size: 19px;
    }
@media(max-width: 230px){
    .services h2{
        font-size: 13px;
    }
}
}
#en{
    display: none;
}
#en1{
    display: none;
}
#en2{
    display: none;
}
#en3{
    display: none;
}
#en4{
    display: none;
}
#en5{
    display: none;
}
.bouton1{
    border: 1px solid rgb(25, 64, 122);
    background-color: rgb(25, 64, 122) ;
    color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 15px white;

}
.bouton1:hover{
    border: 1px solid white;
    background-color: white ;
    color: rgb(25, 64, 122);
    border-radius: 10px;
    box-shadow: 1px 1px 15px rgb(25, 64, 122);
}
.bouton2{
    border: 1px solid rgb(25, 64, 122);
    background-color: rgb(25, 64, 122) ;
    color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 15px white;
}
.bouton2:hover{
    border: 1px solid white;
    background-color: white ;
    color: rgb(25, 64, 122);
    border-radius: 10px;
    box-shadow: 1px 1px 15px rgb(25, 64, 122);
}
@media(max-height: 1000px) {
    .footer{
        display: none;
     }
    }